@model HealthWebApp.Models.Person.PersonCreateModel
@using HealthWebApp.Data.EntityModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>PersonCreateModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NameTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameTitle" class="form-control" />
                <span asp-validation-for="NameTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExtensionName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExtensionName" class="form-control" />
                <span asp-validation-for="ExtensionName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CivilStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CivilStatus" class="form-control" asp-items="Html.GetEnumSelectList<CivilStatus>()"></select>
                <span asp-validation-for="CivilStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonConsent" class="col-md-2 control-label">Agree to store info to Service Provider Database.</label>
            <div class="col-md-10">
                <input asp-for="PersonConsent" class="form-control" />
                <span asp-validation-for="PersonConsent" class="btn-success"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
